<html>
    <head>
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style type="text/css">
{{ bootstrap }}
        </style>
        <style type="text/css">
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }

            table {
                font-size: 13px;/* For some reason the bootstrap CSS does not correctly reset the table font. */
            }

            .page-header h1 {
                padding-top: 45px;
            }
        </style>
        <style type="text/css">
{{ bootstrap_responsive }}
        </style>
        {% block head_extra %}{% endblock %}
    </head>

    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    {% block navbarcontainer %}
                        <a class="brand" href="#">{{ brandingtitle }}</a>

                        <div>
                            <ul class="nav">
                                <li><a href="#contenttypes">Content types</a></li>
                                <li><a href="#data">Data</a></li>
                            </ul>
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row-fluid">

                <div class="span12">
                    <div class="hero-unit">
                        <h1>{{ heading }}</h1>
                        <p>
                        {% block herotext %}
                            This is the <em>text/html</em> content-type view for this RESTful API.
                        {% endblock %}
                        </p>
                        <p>
                            {% block herobuttons %}
                            <a class="btn btn-primary btn-large" href="#contenttypes" href="">Content types &raquo;</a>
                            <a class="btn btn-large" href="#data">Data &raquo;</a>
                            {% endblock %}
                        </p>
                    </div>
                </div>

                {% block pre_content_types %}{% endblock %}
                <div class="row-fluid">
                    <div class="span12">
                        <div class="page-header">
                            <h1 id="contenttypes">Supported content-types</h1>
                        </div>
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Mimetype</th>
                                    <th>View or download</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for contenttype in content_types %}
                                <tr>
                                    <td>{{ contenttype.mimetype }}</td>
                                    <td style="width:130px;">
                                        <a href="?mimetype={{ contenttype.mimetype }}">view</a> |
                                        <a href="?mimetype={{ contenttype.mimetype }}&downloadfile=true">download</a>
                                    </td>
                                    <td>
                                        {{ contenttype.description }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </span>
                </div>

                {% block pre_data %}{% endblock %}
                <div class="row-fluid">
                    <div class="span12">
                        <div class="page-header">
                            <h1 id="data">Data preview <small>Encoded as application/json</small></h1>
                        </div>
                        <pre>{{ jsondata|e }}</pre>
                    </div>
                </div>
                {% block post_data %}{% endblock %}
            </div>
        </div>
    </body>
</html>
